body {
  font-family: "Noto Sans TC", sans-serif;
  box-sizing: border-box;
  /* padding: 0 32px; */
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  margin: auto;
}

// * {
//   border: 0.2px solid red !important;
// }
