.p-36 {
  padding: 36px;
}

.p-48 {
  padding: 48px;
}

.mt-80 {
  margin-top: 80px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 8px;
}

.my-16 {
  margin-top: 16px;
  margin-bottom: 16px;
}
