<footer class="footer">
  <div class="container footer__container">
    <div class="footer__upper">
      <div class="footer__upper-left">
        <ul class="footer__linkList">
          <li class="footer__linkItem">
            <a class="footer__link" href="#">首頁</a>
          </li>
          <li class="footer__linkItem">
            <a class="footer__link" href="#">系列鏡框</a>
          </li>
          <li class="footer__linkItem">
            <a class="footer__link" href="#">門市據點</a>
          </li>
          <li class="footer__linkItem">
            <a class="footer__link" href="#">部落格</a>
          </li>
          <li class="footer__linkItem">
            <a class="footer__link" href="#">常見問題</a>
          </li>
        </ul>
        <ul class="footer__info">
          <li class="footer__info__item">
            <img
              class="footer__info__icon--phone"
              src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2018/png/iconmonstr-phone-thin.png&r=0&g=0&b=0"
              alt="phone"
            />

            <p class="footer__info__paragraph">0800-000-00</p>
          </li>
          <li class="footer__info__item">
            <img
              class="footer__info__icon--email"
              src="https://iconmonstr.com/wp-content/g/gd/makefg.php?i=../releases/preview/2018/png/iconmonstr-mail-thin.png&r=0&g=0&b=0"
              alt="mail"
            />
            <p class="footer__info__paragraph">glasses@business.com</p>
          </li>
        </ul>
      </div>
      <div class="footer__upper-right">
        <ul class="footer__upper-right__list">
          <li>
            <img
              class="footer__upper-right__icon"
              src="../assets/images/ic-social-fb.png"
              alt="fb"
            />
          </li>
          <li>
            <img
              class="footer__upper-right__icon"
              src="../assets/images/ic_social_line.png"
              alt="line"
            />
          </li>
          <li>
            <img
              class="footer__upper-right__icon"
              src="../assets/images/ic_social_ig.png"
              alt="ig"
            />
          </li>
        </ul>
      </div>
    </div>

    <div class="footer__lower">
      <p class="footer__lower__paragraph">
        Copyright © 2020 Glasses.All rights reserved.
      </p>

      <div class="footer__lower__link__container">
        <a href="#" class="footer__lower__link"> 隱私權政策 </a>
        <a href="#" class="footer__lower__link"> 服務條款 </a>
      </div>
    </div>
  </div>
</footer>
