<nav class="navigation">
  <div class="container navigation__container flex justify-content-between">
    <a href="../pages/index.html">
      <img
        class="navigation__logo"
        src="../assets/images/logo-white.png"
        alt="logo-white"
      />
    </a>

    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="./series.html" class="navigation__link">系列鏡框</a>
      </li>
      <li class="navigation__item">
        <a href="./store.html" class="navigation__link">門市據點</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">部落格</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link">常見問題</a>
      </li>
    </ul>
  </div>
</nav>
