/* NAVIGATION */
.navigation {
  background-color: #aa0601;
  @include respond(tab) {
    padding: 0 36px;
  }
  @include respond(phone) {
    padding: 0;
  }

  &__container {
    @include respond(phone) {
      display: block;
    }
  }

  &__logo {
    height: 48px;

    margin: 16px 0;

    @include respond(tab) {
      text-align: left;
      margin: 0;
    }
    @include respond(phone) {
      padding: 16px 32px;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 64px;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: #007bff; */
    @include respond(phone) {
      gap: 0;
      justify-content: center;
    }
  }

  &__item {
    /* background-color: green; */
    width: 13%;

    @include respond(phone) {
      width: 49.4%;

      border: 1px solid #fff;
    }
  }

  &__link {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;

    @include respond(phone) {
      padding: 12px;
      text-align: center;
    }

    &:hover,
    &:active {
      color: #650300;
    }
  }
}
