/* NAVIGATION */
.navigation {
  background-color: #aa0601;
  @media (max-width: 1296px) {
    padding: 0 36px;
  }
  @media (max-width: 767px) {
    padding: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 767px) {
      display: block;
    }
  }

  &__logo {
    height: 48px;

    margin: 16px 0;

    @media (max-width: 1296px) {
      text-align: left;
      margin: 0;
    }
    @media (max-width: 767px) {
      padding: 16px 32px;
    }
  }

  &__list {
    display: flex;
    justify-content: flex-end;
    gap: 64px;
    flex-wrap: wrap;
    width: 100%;
    /* background-color: #007bff; */
    @media (max-width: 767px) {
      gap: 0;
      justify-content: center;
    }
  }

  &__item {
    /* background-color: green; */
    width: 7%;

    @media (max-width: 1296px) {
      width: 13.1%;
    }

    @media (max-width: 767px) {
      width: 49.4%;

      border: 1px solid #fff;
    }
  }

  &__link {
    display: block;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;

    @media (max-width: 767px) {
      padding: 12px;
      text-align: center;
    }

    &:hover,
    &:active {
      color: #650300;
    }
  }
}
