/*FEATURES*/
.features {
  background-color: #fbf2f2;
}

.features__title {
  margin-bottom: 32.3px;
}

.features__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  flex-wrap: wrap;
}

.features__item {
  width: 23%;

  @include respond(tab) {
    width: 48%;
  }
  @include respond(phone) {
    width: 100%;
  }
}

.features__item__title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  color: #650300;
  text-align: center;
  margin-bottom: 8px;
}
.features__item__content {
  line-height: 24px;
}

/* CLASSIC */

.classic {
  @include respond(tab) {
    padding: 0 36px;
  }
  @include respond(phone) {
    padding: 0 13px;
  }
}

.classic__list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 80px;

  @include respond(tab) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.classic__item {
  width: 32%;
  @include respond(tab) {
    width: 50%;
  }
  @include respond(phone) {
    width: 100%;
  }
}

/* COBRANDING */

.cobranding {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true");

  background-size: cover;
  padding: 80px 0;

  @include respond(tab) {
    padding: 80px 36px;
  }

  @include respond(phone) {
    padding: 80px 13px;
  }
}

.cobranding__title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 48px;
}

.cobranding__list {
  display: flex;
  align-items: flex-start;
  list-style: none;

  @include respond(tab) {
    flex-direction: column;
    align-items: center;
    /* padding: 0 36px; */
  }
}

.cobranding__item {
  width: 50%;

  @include respond(tab) {
    width: 100%;
    margin-bottom: 24px;
  }
}

.cobranding__h4 {
  background-color: #fff;
  padding: 8px 0px;
}

.border-right-1px {
  border-right: 1px solid rgba(128, 128, 128, 0.247);
}

/* RECOMMEND */

.recommend {
  @include respond(tab) {
    padding: 0 36px;
  }

  @include respond(phone) {
    padding: 0 13px;
  }
}

.recommend__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 48px;

  @include respond(phone) {
    margin-top: 24px;
  }
}

.recommend__item {
  box-shadow: 0px 2px 6px #00000029;
  width: 23.6%;

  @media (max-width: 1630px) {
    width: 48%;
  }

  @include respond(tab) {
    width: 100%;
  }
}

.recommend__content {
  padding: 16px;
}

.recommend__name {
  line-height: 24px;
  padding-bottom: 8px;
}

.recommend__paragraph {
  line-height: 24px;
  padding-bottom: 72px;
}

.recommend__date {
  font-size: 14px;
  line-height: 21px;
  color: #707070;
}

/*CONTACT */

.contact {
  background-color: #fbf2f2;
  padding: 80px 0px;

  @include respond(tab) {
    padding: 40px 13px;
  }
}

.contact__container {
  max-width: 636px;
  margin: 0 auto;
}

.contact__paragraph {
  font-size: 20px;
  line-height: 30px;
  margin-top: 48px;
  margin-bottom: 24px;

  @include respond(tab) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
  }
}

.contact__form__label {
  padding-bottom: 14px;
  display: block;
  cursor: pointer;
}

.contact__form__input {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  border: 1px solid #000000;
  padding: 6px 0px;
}

.contact__form__textarea {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  /* padding: 6px 0px 0px 12px; */
}

.contact__form__input::placeholder {
  display: block;
  line-height: 24px;
  padding-left: 12px;
  opacity: 0.2;
}

.contact__form__textarea::placeholder {
  display: block;
  padding-left: 12px;
  line-height: 24px;
  opacity: 0.2;
}

.contact__form__input:focus,
.contact__form__textarea:focus {
  outline: none;
  border: 2px solid greenyellow;
}

.contact__form__input:focus:invalid,
.contact__form__textarea:focus:invalid {
  outline: none;
  border: 2px solid red;
}

.contact__checkbox__container {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.contact__form__label--checkbox {
  display: block;
  line-height: 24px;
  cursor: pointer;
}

.contact__form__checkbox {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.contact__form__checkbox::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.contact__form__checkbox:checked::before {
  background-color: #007bff; /* Change the background color for the checked checkbox */
  border-color: #007bff; /* Change the border color for the checked checkbox */
}

.button__container {
  text-align: center;
  margin-top: 48px;

  @include respond(tab) {
    margin-top: 24px;
  }
}

.contact__form__button,
.contact__form__button:link,
.contact__form__button:visited {
  line-height: 24px;
  color: #fff;
  font-weight: 700;
  background-color: #aa0601;
  padding: 16px 172px;
  cursor: pointer;
  margin: 0 auto;

  @include respond(tab) {
    padding: 16px 0px;
    width: 100%;
  }
}

.contact__form__button:hover {
  background-color: #650300;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact__form__button:active {
  transform: translateY(5px);
}
